<h1>Prestar Libro</h1>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Book Id</mat-label>
    <input matInput formControlName="bookId" required >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Documento identidad estudiante</mat-label>
    <input matInput formControlName="studentDocument" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tiempo de retorno</mat-label>
    <textarea matInput formControlName="timeReturn" required></textarea>
  </mat-form-field>

  <div>
    <button mat-raised-button type="submit" [disabled]="formulario.invalid">Prestar</button>
  </div>
</form>
